<td><%= title %></td>
<td><%= content %></td>

<td><a href="#/<%= id %>" class="controls">Show</td>
<td><a href="#/<%= id %>/edit" class="controls">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy controls">Destroy</a></td>