<div class="well" id="event-<%= id %>" rel="popover" data-html="true">
  <%= title %>
  <%= content %>

  <div class="controls">
    <a href="#/<%= id %>" class="controls">Show</a>
    <a href="#/<%= id %>/edit" class="controls">Edit</a>
    <a href="#/<%= id %>/destroy" class="destroy controls">Destroy</a>
  </div>

</div>